<title>Admin Panel</title>
<link rel="icon" href="https://www.pngkit.com/png/full/214-2146558_3d-circle-logo-png.png" type="image/x-icon">
<style>
    frame, frameset{
        resize: none;
        border: 0px;
    }
</style>
<frameset cols="15%, *  ">
    <frame noresize="noresize" src="/main-login-project/menu"></frame>
    <frame name="container" noresize="noresize" src="/main-login-project/welcome">2</frame>
</frameset>
