<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .containere-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        td:hover{
            background-color: skyblue;
            color: white;
        }
        td{
            border: 1px solid;
            padding: 10px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/main-login-project/logout">Logout</a>
    </div>
    <div class="containere-1">
    <table>
        <tr>
            <th>
                Tasks
            </th>
            <th>
                design-task
            </th>
        </tr>
        <tr>
            <td>
                <a href="/dynemic-table/">Dynemic Table</a>
            </td>
            <td>
                <a href="/html-css-1/">First-Page</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/cucu-cube/">cucu cube game</a>
            </td>
            <td>
                <a href="/html-css-2/">Second-Page</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/tic-tac-toe/">tic tac toe</a>
            </td>
            <td>
                <a href="/html-css-3/">Second-Page</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/sorting-int/">Sorting (int,char,string)</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/js-event/">Js Events</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/std-attendance/">Student Attendance Report</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/student-result/">Student Report Report</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/deli-search/">Delimiter Search</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/component/">Component</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/insert-update-employee-form/">Simple Employee Form Update/Insert</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/pagination-orderby/users/1">pagination and orderby</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/city-state/demo">City State Combo</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/time-zone/">Time Zone Converter</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/ajax-form/form">Ajax Employee Form</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/json-placeholder/">jsonPlaceholder</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/and-or-search/">perticular Search And/Or</a>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>