<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/html-css-2/page.css" rel="stylesheet">
    <script src="/html-css-2/page.js" defer>
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="container">
        <section id="first-page" style="background-color: #F0F6FF;">
            <div class="header">
                <div class="navbar">
                    <div class="navlogo">
                        <p><img src="practical_2/assets/logo(1).png" alt="" width="240px" height="50px"></p>
                    </div>
                    <div class="nav-links">
                        <ul>
                            <li>Hosting</li>
                            <li>integration</li>
                            <li>Paricing</li>
                            <li>Community</li>
                            <li id="login">Login</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p style="font-size: 70px; color: #0a2259;">Hosting Services for Your Website</p>
                        <p style="margin-top: -8%; line-height: 26px; max-width: 450px; color: #0a2259;">Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Distinctio facere blanditiis provident
                            reiciendis, tempore soluta tempora vero fuga ipsum dignissimos </p>
                        <div class="button-first-page">
                            <p id="get-started">Get Started</p>
                            <p id="get-migration" >Get Migration Help</p>
                        </div>
                        <p ><img src="practical_2/assets/arrow-down.png"
                                alt=""onclick="dowon('first-page')"></p>
                    </div>
                    <div class="col-2">
                        <img src="practical_2/assets/portrait-confident-bearded-man-using-laptop-computer 1.png"
                            style="margin-top: 12%;">
                    </div>
                </div>
            </div>
        </section>


        <section id="second-page">
            <div class="second-content">
                <div class="row">
                    <div class="col-5">
                        <p style="font-size: 12px; line-height: 18px; max-width: 150px; color: #0a2259;">Those who have
                            Experinced the best performance</p>
                    </div>
                    <div class="col-5" style="margin-top: -4%;">
                        <img src="practical_2/assets/Telkom Indonesia Logo.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="practical_2/assets/Jetstar Airways Logo.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="practical_2/assets/Nescafe Logo.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="practical_2/assets/Lenovo Logo.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="third-page">
            <div class="third-content">
                <div class="row" style="gap: 6px;">
                    <div class="col-2">
                        <img src="practical_2/assets/Group 3552.png" width="100%">
                    </div>
                    <div class="col-2">
                        <p style="color: #0a2259; font-size: 35px; margin-left: 5%; width: 390px;">Boost The Speed Of
                            Your Website</p>
                        <div class="row" style="margin-top: 5%; margin-left: 3%;">
                            <div class="col-2" style="padding: 2px; width: calc(90%/2); margin: 0 auto;">
                                <p style=" color: #6a88b6;">Faster Build Process</p>
                                <p style="line-height: 25px; color: #AAAAAA;">We can Speedup the process of creating
                                    your website</p>
                            </div>
                            <div class="col-2" style="padding: 2px; width: calc(90%/2); margin: 0 auto;">
                                <p style=" color: #6a88b6;">Faster Delivery</p>
                                <p style="line-height: 25px; color: #AAAAAA;">We can Speedup the process of creating
                                    your website</p>
                            </div>
                            <div class="col-2" style="padding: 2px; width: calc(90%/2); margin: 0 auto;">
                                <p style=" color: #6a88b6;">Faster Access Speed</p>
                                <p style="line-height: 25px; color: #AAAAAA;">We can Speedup the process of creating
                                    your website</p>
                            </div>
                            <div class="col-2" style="padding: 2px; width: calc(90%/2); margin: 0 auto;">
                                <p style=" color: #6a88b6;">24/7 Faster Service</p>
                                <p style="line-height: 25px; color: #AAAAAA;">We can Speedup the process of creating
                                    your website</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="fouth-page" style="background-color: #F0F6FF;">
            <div class="fourth-content">
                <div class="row">
                    <p style="color: #0a2259 ; font-weight: bold; font-size: 35px; padding: 95px; text-align: center;">
                        Host Any Website With Our Fully Managed Services</p>
                </div>
                <div class="row" style="gap: 18px; margin-top: -7%;">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-p">
                                <div style="display: flex; flex-direction: row; gap: 15px; padding: 5px">
                                    <img src="practical_2/assets/cloud-sunny.png" height="30px"
                                        style="border-radius: 50%; margin-top: 3%; margin-left: 5%; background-color: #F0F6FF; padding: 5px;">
                                    <p id="sec-2">Cloud Hosting</p>
                                </div>
                                <p id="sec" style="font-size: 13px; margin-left: 2%; max-width: 250px;">
                                    Cloud hosting is good fit for those of you who are building personal Website,
                                    portfolio, blogs, and other systems
                                </p>
                            </div>
                            <p id="sec-3" style="text-align: center; font-size: 18px;">$5.9/month</p>
                            <p class="card-p-sec">More Details</p>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="card">
                            <div class="card-p">
                                <div style="display: flex; flex-direction: row; gap: 15px; padding: 5px">
                                    <img src="practical_2/assets/cloud-sunny.png" height="30px"
                                        style="border-radius: 50%; margin-top: 3%; margin-left: 5%; background-color: #F0F6FF; padding: 5px;">
                                    <p id="sec-2">Cloud Hosting</p>
                                </div>
                                <p id="sec" style="font-size: 13px; margin-left: 2%; max-width: 250px;">
                                    Cloud hosting is good fit for those of you who are building personal Website,
                                    portfolio, blogs, and other systems
                                </p>
                            </div>
                            <p id="sec-3" style="text-align: center; font-size: 18px;">$5.9/month</p>
                            <p class="card-p-sec">More Details</p>
                        </div>
                    </div>



                    <div class="col-4">
                        <div class="card">
                            <div class="card-p">
                                <div style="display: flex; flex-direction: row; gap: 15px; padding: 5px">
                                    <img src="practical_2/assets/cloud-sunny.png" height="30px"
                                        style="border-radius: 50%; margin-top: 3%; margin-left: 5%; background-color: #F0F6FF; padding: 5px;">
                                    <p id="sec-2">Cloud Hosting</p>
                                </div>
                                <p id="sec" style="font-size: 13px; margin-left: 2%; max-width: 250px;">
                                    Cloud hosting is good fit for those of you who are building personal Website,
                                    portfolio, blogs, and other systems
                                </p>
                            </div>
                            <p id="sec-3" style="text-align: center; font-size: 18px;">$5.9/month</p>
                            <p class="card-p-sec">More Details</p>
                        </div>
                    </div>


                    <div class="col-4">
                        <div class="card">
                            <div class="card-p">
                                <div style="display: flex; flex-direction: row; gap: 15px; padding: 5px">
                                    <img src="practical_2/assets/cloud-sunny.png" height="30px"
                                        style="border-radius: 50%; margin-top: 3%; margin-left: 5%; background-color: #F0F6FF; padding: 5px;">
                                    <p id="sec-2">Cloud Hosting</p>
                                </div>
                                <p id="sec" style="font-size: 13px; margin-left: 2%; max-width: 250px;">
                                    Cloud hosting is good fit for those of you who are building personal Website,
                                    portfolio, blogs, and other systems
                                </p>
                            </div>
                            <p id="sec-3" style="text-align: center; font-size: 18px;">$5.9/month</p>
                            <p class="card-p-sec">More Details</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="five-page">
            <div class="five-content">
                <div class="row">
                    <div class="col-2">
                        <!-- 1 -->
                        <div onclick="fun('wordpress')" class="outer"
                            style="background-color:#F0F6FF; width: 300px; margin-top: 4%;">
                            <div class="data" style="gap: 15px; display: flex; flex-wrap: wrap; flex-direction:row;">
                                <p style="margin-left: 67px;"><img src="practical_2/assets/WordPress.com Logo.png"
                                        alt=""></p>
                                <P style="margin-top:9% ;">WordPress</P>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div onclick="fun('mageto')" class="outer"
                            style="background-color:#F0F6FF; width: 300px; margin-top: 4%;">
                            <div class="data" style="gap: 15px; display: flex; flex-wrap: wrap; flex-direction:row;">
                                <p style="margin-left: 67px;"><img src="practical_2/assets/WordPress.com Logo.png"
                                        alt=""></p>
                                <P style="margin-top:9% ;">Mageto</P>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div onclick="fun('laravel')" class="outer"
                            style="background-color:#F0F6FF; width: 300px; margin-top: 4%;">
                            <div class="data" style="gap: 15px; display: flex; flex-wrap: wrap; flex-direction:row;">
                                <p style="margin-left: 67px;"><img src="practical_2/assets/WordPress.com Logo.png"
                                        alt=""></p>
                                <P style="margin-top:9% ;">Laravel</P>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div onclick="fun('php')" class="outer"
                            style="background-color:#F0F6FF; width: 300px; margin-top: 4%;">
                            <div class="data" style="gap: 15px; display: flex; flex-wrap: wrap; flex-direction:row;">
                                <p style="margin-left: 67px;"><img src="practical_2/assets/WordPress.com Logo.png"
                                        alt=""></p>
                                <P style="margin-top:9% ;">PHP</P>
                            </div>
                        </div>

                    </div>
                    <div class="col-2">
                        <div id="wordpress" class="col-content" style="margin-left: -22%;">
                            <p style="font-size: 35px; color: #0a2259;">The Best Managment Cloud Hosting For WordPress
                            </p>
                            <p style=" text-align: justify; font-size: 14px; line-height: 28px; color: #AAAAAA;">We live
                                and breath WordPress. Our Managed Hosting For WordPress and WooCommerce takes away cloud
                                server realeted hassles so you can scale your Website the way you want.</p>
                            <div class="row">
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Network Speed</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Turbo Power</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Xtreme Freedom</p>
                                </div>
                                <div class="col-2">
                                    <p id="more-details">
                                        More Detail</p>
                                </div>
                            </div>
                        </div>
                        <div id="mageto" class="col-content" style="margin-left: -22%; display: none;">
                            <p style="font-size: 35px; color: #0a2259;">The Best Managment Cloud Hosting For Mageto</p>
                            <p style=" text-align: justify; font-size: 14px; line-height: 28px; color: #AAAAAA;">We live
                                and breath WordPress. Our Managed Hosting For WordPress and WooCommerce takes away cloud
                                server realeted hassles so you can scale your Website the way you want.</p>
                            <div class="row">
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Network Speed</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Turbo Power</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Xtreme Freedom</p>
                                </div>
                                <div class="col-2">
                                    <p
                                        style="background-color: #f2a33a;color: #F0F6FF; text-align: center; padding: 15px; width: fit-content;">
                                        More Detail</p>
                                </div>
                            </div>
                        </div>
                        <div id="laravel" class="col-content" style="margin-left: -22%; display: none;">
                            <p style="font-size: 35px; color: #0a2259;">The Best Managment Cloud Hosting For Laravel</p>
                            <p style=" text-align: justify; font-size: 14px; line-height: 28px; color: #AAAAAA;">We live
                                and breath WordPress. Our Managed Hosting For WordPress and WooCommerce takes away cloud
                                server realeted hassles so you can scale your Website the way you want.</p>
                            <div class="row">
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Network Speed</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Turbo Power</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Xtreme Freedom</p>
                                </div>
                                <div class="col-2">
                                    <p
                                        style="background-color: #f2a33a;color: #F0F6FF; text-align: center; padding: 15px; width: fit-content;">
                                        More Detail</p>
                                </div>
                            </div>
                        </div>

                        <div id="php" class="col-content" style="margin-left: -22%; display: none;">
                            <p style="font-size: 35px; color: #0a2259;">The Best Managment Cloud Hosting For PHP</p>
                            <p style=" text-align: justify; font-size: 14px; line-height: 28px; color: #AAAAAA;">We live
                                and breath WordPress. Our Managed Hosting For WordPress and WooCommerce takes away cloud
                                server realeted hassles so you can scale your Website the way you want.</p>
                            <div class="row">
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Unlimited Bandwidth</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Network Speed</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Turbo Power</p>
                                </div>
                                <div class="col-2"
                                    style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 10px;">
                                    <p><img src="practical_2/assets/Vector.png" alt=""></p>
                                    <p>Xtreme Freedom</p>
                                </div>
                                <div class="col-2">
                                    <p
                                        style="background-color: #f2a33a;color: #F0F6FF; text-align: center; padding: 15px; width: fit-content;">
                                        More Detail</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section id="six-page">
            <div class="six-content">
                <div class="row">
                    <div class="col-2">
                        <p style="font-size: 40px; max-width: 450px; color: #0a2259;">How Our Customers Feel About Us
                        </p>
                    </div>
                    <div class="col-2" style="display: flex; flex-direction: row-reverse; margin-top: 5%; gap: 10px; ">
                        <p style="margin-right: 2%; border-radius: 50%;"><img src="practical_2/assets/arrow-right.png"
                                style="border-radius: 50%;" alt="" onclick="next('scroll')"></p>
                        <p style="border-radius: 50%;"><img src="practical_2/assets/arrow-left.png"
                                style="border-radius:50%;"  onclick="pre('scroll')"></p>
                    </div>
                </div>
                <div class="row" id="scroll" style="flex-wrap: nowrap; overflow-x:scroll ; gap: 20px;">

                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card"
                            style="width: 270px; height: 300px; background-color: #F0F6FF; border: none; padding-top: 2px;">
                            <div class="card-data"
                                style="height:267px ;  width:230px; margin:6% auto; background-color: white; text-align: center;">
                                <p><img width="60px" src="practical_2/assets/profile.png"></p>
                                <p>
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                    <img src="practical_2/assets/Star 2.png">
                                </p>
                                <p style="font-size: 14px; color:#AAAAAA;">
                                    thanks to the Awan hoster,i was guided step-by-step unit it was finished
                                </p>
                                <p style="color: #0a2259;">
                                    Guy Hawkins
                                </p>
                                <p style="color: #AAAAAA; font-size: 12px;">
                                    Manager
                                </p>
                            </div>
                        </div>
                    </div>




                </div>
        </section>

        <section id="seven-page">
            <div class="seven-content">
                <div class="row">

                    <div class="col-2" style="margin-top: 10%;">
                        <p style="font-size: 50px; color: #0a2259;">Try It Now And Stop Doubuting Anything Else</p>
                        <p style="margin-top: -8%; line-height: 26px; max-width: 450px; color: #0a2259;">Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Distinctio facere blanditiis provident
                            reiciendis, tempore soluta tempora vero fuga ipsum dignissimos </p>
                        <div class="button-first-page">
                            <p style="background-color: #f2a33a; color: #F0F6FF;">Start Free Trial</p>
                            <p style="border: 1px solid #0a2259; color: #0a2259;">See All Plan</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="practical_2/assets/Group 1000008788.png" style="margin-top: 12%;">
                    </div>
                </div>
            </div>
        </section>


        <section id="eight-page" style="background-color: #0a2259;">
            <div class="eight-content">
                <div class="row">
                    <div class="col-2" style="margin-top: 8%;">
                        <p>
                            <img src="practical_2/assets/logo-white.png" alt="">
                        </p>
                        <p style="color: #F0F6FF; max-width: 300px; line-height: 25px;">we provide with the best hosting
                            solution for your website.</p>

                        <p id="ic" style="padding: 20px;">
                            <i class="bi bi-facebook"></i>&emsp;
                            <i class="bi bi-twitter"></i>&emsp;
                            <i class="bi bi-instagram"></i>&emsp;
                            <i class="bi bi-youtube"></i>&emsp;
                            <i class="bi bi-discord"></i>
                        </p>
                    </div>
                    <div class="col-2" style="margin-top: 8%;">
                        <div class="row">
                            <div class="col-3" style="gap: 15px;">
                                <p style="font-weight: bold; font-size: 20px;">Company</p>
                                <p>About</p>
                                <p>Blog</p>
                                <p>Leadership</p>
                                <p>Careers</p>
                                <p>Legal</p>
                            </div>
                            <div class="col-3">
                                <p style="font-weight: bold; font-size: 20px;">Products</p>
                                <p>API</p>
                                <p>Pricing</p>
                                <p>Documentations</p>
                                <p>Realease Note</p>
                            </div>
                            <div class="col-3">
                                <p style="font-weight: bold; font-size: 20px;">Contect</p>
                                <p>Support</p>
                                <p>Sales</p>
                                <p>Report Abuse</p>
                                <p>System Status</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>