<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/html-css-3/task3.js"></script>
    <link href="/html-css-3/task3.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="fullbody">
        <section id="header" style="background-color: var(--site-bg);">
            <div class="container">
                <div class="navbar">
                    <div class="row">
                        <div class="col-2">
                            <img src="Practical-3/assets/HireX_black.png">

                        </div>
                        <div class="col-2"
                            style="display: flex;width: calc(95%/2); flex-direction: row; gap: 20px; list-style: none;">
                            <li>Works</li>
                            <li>About us</li>
                            <li>Blogs</li>
                            <li>FAQs</li>
                            <li>Contact Us</li>
                            <li id="button">We Are Hiring <img src="Practical-3/assets/arrow-right.png"></li>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 60px;">
                        <div class="col-2">
                            <div class="title" style="display: flex; flex-direction: row; gap: 10px;">
                                <p class="bold">WELCOME TO HIREX.</p> <img src="Practical-3/assets/Star 1.png"
                                    height="32px" style="margin-top: 1%;">
                            </div>
                            <p style="font-size: 40px; font-weight: bold;">
                                Award Winning Digital Agency.
                            </p>
                            <p class="md-font" style="width: 490px;">
                                Digital Agency Offering Unique solution to create digital presence and increase your
                                sales.
                            </p>
                            <p style=>
                                <input type="text" placeholder="Your Email Address"
                                    style="padding: 15px; padding-right: 100px; border: 3px solid var(--black); border-radius: 3px; box-shadow: 3px 3px var(--black);">
                                <input type="submit" value="Request access"
                                    style="padding: 15px; padding-right: px; border: 3px solid var(--black); border-radius: 3px; margin-left: -2%; background-color:var(--yellow); font-weight: bold;box-shadow: 3px 3px var(--black);">
                            </p>
                            <p class="sm-font"
                                style="background-color:#EBE9DE; width: 260px; text-align: center; padding: 10px; border-radius: 5%; margin-top: 10%; ">
                                open account and get 5 boxes
                            </p>

                        </div>
                        <div class="col-2" style="position: relative; height: 600px; padding-left: 50px;">
                            <div class="firs-img"
                                style="position: absolute; top: 5%; left: 50%; border-radius: 50%; height: 190px; width: 200px; background-color: var(--orange);  z-index: 1;">
                                <img src="Practical-3/assets/image 2 (Traced).png" width="40px"
                                    style="position: absolute; top: 6%; left: 50%;">
                                <p class="bold" style="font-size: 30px; position: absolute; top: 15%; left: 25%; ">
                                    Web<br>Design</p>
                            </div>

                            <div class="firs-img"
                                style="position: absolute; top: 27%; right: 30%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; height: 190px; width: 200px; background-color: var(--yellow);">

                                <img src="Practical-3/assets/image 6 (Traced).png" width="60px"
                                    style="position: absolute; top: 10%; left: 5%; ">
                                <p class="bold"
                                    style="font-size: 30px; width: 100px; position: absolute; top: 28%; left: 25%; ">
                                    Social Midia</p>
                            </div>

                            <div class="firs-img"
                                style="position: absolute; bottom: 18%; right: 60%; height: 180px; width: 200px; background-color: var(--green);">
                                <div class="content">
                                    <p class="bold"
                                        style="font-size: 30px; width: 100px; color: var(--white);  position: absolute; top: -5%; left: 8%; ">
                                        UIX Design</p>
                                </div>
                                <img src="Practical-3/assets/image 1 (Traced).png" width="55px"
                                    style=" position: absolute; bottom: 5%; left: 50%; ">
                            </div>
                            <p><img src="Practical-3/assets/Group 6.png"
                                    style="position: absolute; bottom: 18%; right: 20%;"></p>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <section id="second-page">
            <marquee>
                <div class="row" style="gap: 90px;">
                    <div class="col">
                        <p id="first">GET ACCESS NOW!</p>
                        <p style="margin: auto 0;"><img src="Practical-3/assets/image-fBLQvAFN1-transformed 1.png"
                                alt="" height="50px" width="50px"></p>
                        <p id="last">|</p>
                    </div>
                    <div class="col">
                        <p id="first">GET ACCESS NOW!</p>
                        <p style="margin: auto 0;"><img src="Practical-3/assets/image-fBLQvAFN1-transformed 1.png"
                                alt="" height="50px" width="50px"></p>
                        <p id="last">|</p>
                    </div>
                    <div class="col">
                        <p id="first">GET ACCESS NOW!</p>
                        <p style="margin: auto 0;"><img src="Practical-3/assets/image-fBLQvAFN1-transformed 1.png"
                                alt="" height="50px" width="50px"></p>
                        <p id="last">|</p>
                    </div>

                </div>
            </marquee>
        </section>



        <section id="third-page">
            <div class="container">
                <div class="row">
                    <div class="col" style="text-align: center; margin: 0% auto;">
                        <p id="th-first">Service</p>
                        <p id="th-second" class="bold">How Hirex. Work</p>
                        <p style="width: 280px;">The awesome people who makes all this possible</p>
                    </div>
                </div>
                <div class="row" style="padding-left: 50px; padding-top: 30px;">
                    <div class="col-3">
                        <div class="card">
                            <p class="sm-font">START HERE</p>
                            <p class="md-font bold" style="max-width:150px; margin:0 auto;">Who We are & what We do</p>
                            <p><img src="Practical-3/assets/Designer _Flatline 1.png" width="250px" alt=""></p>
                            <p id="th-last">Start Here</p>
                        </div>
                    </div>


                    <!-- 2 -->
                    <div class="col-3">
                        <div class="card">
                            <p class="sm-font">START HERE</p>
                            <p class="md-font bold" style="max-width:150px; margin:0 auto;">Who We are & what We do</p>
                            <p><img src="Practical-3/assets/Notifications_Flatline 1.png" width="250px" alt=""></p>
                            <p  class="c-2" >Start Here</p>
                        </div>
                    </div>

                    <!-- 3 -->

                    <div class="col-3">
                        <div class="card">
                            <p class="sm-font">START HERE</p>
                            <p class="md-font bold" style="max-width:150px; margin:0 auto;">Who We are & what We do</p>
                            <p><img src="Practical-3/assets/Fortnite_Two Color 1.png" width="136px" alt=""></p>
                            <p  class="c-3">Start Here</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="fourth-page">
            <div class="container">
                <div class="row">
                    <div class="col" style="text-align: center; margin: 0% auto;">
                        <p id="th-first" style="background-color: skyblue; color: var(--white);">Works</p>
                        <p id="th-second" class="bold">Find Our Letest works</p>
                        <p style="width: 280px; margin: 0 auto;">The awesome people who makes all this possible</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 40px; gap: 30px; margin-left: 8%;">
                    <div class="col-2">
                        <div class="ing">
                            <img src="Practical-3/assets/Rectangle 13.png" alt="" height="350px">
                        </div>
                        <p id="tf-first" class="sm-font"
                            style="background-color: var(--white); border: 1px solid; text-align: center; color: var(--black);">
                            Works</p>
                        <p class="md-font">Website Design For Digital Agency</p>
                        <p class="sm-font">Build a unique Website with Hilrex Template</p>
                        <p class="sm-font">Read more -></p>
                    </div>
                    <div class="col-2">
                        <div class="ing">
                            <img src="./Practical-3/assets/Rectangle 13-1.png" alt="" width="400px">
                        </div>
                        <p id="tf-first" class="sm-font"
                            style="background-color: var(--white); border: 1px solid; text-align: center; color: var(--black);">
                            Works</p>
                        <p class="md-font">Website Design For Digital Agency</p>
                        <p class="sm-font">Build a unique Website with Hilrex Template</p>
                        <p class="sm-font">Read more -></p>
                        <p id="fr-last" style="box-shadow: 3px 3px var(--black);">View All</p>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <section id="five-page">
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center; margin: 0% auto;">
                    <p id="th-second" class="bold">Plan & Pricing</p>
                    <p style="width: 280px; margin: 0 auto;">The awesome people who makes all this possible</p>
                </div>
            </div>
            <div class="row" style="margin-top:5%; margin-left: 5%;">
                <div class="col-3">
                    <div class="sc-card">
                        <p>FREE</p>
                        <p><span>$0</span><span>/MONTH</span></p>
                        <p style="font-size: 14px;" id="sc-md">Start free while you learn more about our services</p>
                        <p style="border-bottom: 1px solid; max-width: 230px; margin-left: 9%;"></p>
                        <div class="content-sc-card">
                            <p class="sm-font">&#10003; Free foreever get the basic essentials</p>
                            <p class="sm-font">&#10003; Advanced security and performanced</p>
                            <p class="sm-font">&#10003; Unlimited unhosted sites</p>
                            <p class="sm-font">&#10003; Live support</p>
                        </div>
                        <p id="sc-card-last">GET STARTED</p>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-3">
                    <div class="sc-card">
                        <p>FREE</p>
                        <p><span>$0</span><span>/MONTH</span></p>
                        <p style="font-size: 14px;" id="sc-md">Start free while you learn more about our services</p>
                        <p style="border-bottom: 1px solid; max-width: 230px; margin-left: 9%;"></p>
                        <div class="content-sc-card">
                            <p class="sm-font">&#10003; Free foreever get the basic essentials</p>
                            <p class="sm-font">&#10003; Advanced security and performanced</p>
                            <p class="sm-font">&#10003; Unlimited unhosted sites</p>
                            <p class="sm-font">&#10003; Live support</p>
                        </div>
                        <p id="sc-card-last" style="background-color:var(--orange);">GET STARTED</p>
                    </div>
                </div>
                <!-- 3 -->
                <div class="col-3">
                    <div class="sc-card">
                        <p>FREE</p>
                        <p><span>$0</span><span>/MONTH</span></p>
                        <p style="font-size: 14px;" id="sc-md">Start free while you learn more about our services</p>
                        <p style="border-bottom: 1px solid; max-width: 230px; margin-left: 9%;"></p>
                        <div class="content-sc-card">
                            <p class="sm-font">&#10003; Free foreever get the basic essentials</p>
                            <p class="sm-font">&#10003; Advanced security and performanced</p>
                            <p class="sm-font">&#10003; Unlimited unhosted sites</p>
                            <p class="sm-font">&#10003; Live support</p>
                        </div>
                        <p id="sc-card-last" style="background-color: var(--green);">GET STARTED</p>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <section id="six-page" style="background-color: #61d775">
        <div class="container" style="position: relative;">
            
            <p onclick="pre('scroll')"><img src="Practical-3/assets/arrow-left-2.png" alt="" style="position: absolute; top: 50%; left: -5%;"></p>
            
            <p onclick="next('scroll')" style="text-align: right;"><img src="Practical-3/assets/arrow-right-2.png" style="position: absolute; top:50%; right: 0%; " alt=""></p>
            <div id="scroll">

            <div class="row" >
                
                <div class="col-2">
                    <div class="img-frd">
                        <img id="frd2" src="Practical-3/assets/testimonials-img.png" alt="">
                        <div id="img-btn" class="sm-font btn">
                            <P style="margin-right: 20%;" class="bold">@mase.place</P>
                            <p id="small-btn"><img src="Practical-3/assets/arrow_top-right.png" alt=""
                                    style="margin-top: 25%;"></p>
                        </div>
                    </div>
                </div>
                <div class="col-2" style="line-height: 25px; margin-top: 15%;">
                    <p class="md-font bold">
                        "We Select to practice in Minerva since it is both useful, and our clients baisically adore it!
                        it has stood the test of time and proceeds"
                    </p>
                    <p class="sm-font">
                        Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more
                        than 3.2 million followers on the platform.
                    </p>
                </div>
               
            </div>


            <!-- 2 -->
            <div class="row" style="display: none;"  >
                
                <div class="col-2">
                    <div class="img-frd">
                        <img id="frd2" src="Practical-3/assets/testimonials-img.png" alt="">
                        <div id="img-btn" class="sm-font btn">
                            <P style="margin-right: 20%;" class="bold">@mase.place2</P>
                            <p id="small-btn"><img src="Practical-3/assets/arrow_top-right.png" alt=""
                                    style="margin-top: 25%;"></p>
                        </div>
                    </div>
                </div>
                <div class="col-2" style="line-height: 25px; margin-top: 15%;">
                    <p class="md-font bold">
                        "We Select to practice in Minerva since it is both useful, and our clients baisically adore it!
                        it has stood the test of time and proceeds"
                    </p>
                    <p class="sm-font">
                        Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more
                        than 3.2 million followers on the platform.
                    </p>
                </div>
               
            </div>


            <!-- 3 -->

            <div class="row" style="display: none;">
                
                <div class="col-2" >
                    <div class="img-frd">
                        <img id="frd2" src="Practical-3/assets/testimonials-img.png" alt="">
                        <div id="img-btn" class="sm-font btn">
                            <P style="margin-right: 20%;" class="bold">@mase.place3</P>
                            <p id="small-btn"><img src="Practical-3/assets/arrow_top-right.png" alt=""
                                    style="margin-top: 25%;"></p>
                        </div>
                    </div>
                </div>
                <div class="col-2" style="line-height: 25px; margin-top: 15%;">
                    <p class="md-font bold">
                        "We Select to practice in Minerva since it is both useful, and our clients baisically adore it!
                        it has stood the test of time and proceeds"
                    </p>
                    <p class="sm-font">
                        Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more
                        than 3.2 million followers on the platform.
                    </p>
                </div>
               
            </div>

        </div>


            

        </div>
    </section>

    <section id="seven-page">
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <p id="th-first" style="background-color: #fc6868; color: var(--white); margin-left:-1% ;">Works</p>
                    <p id="th-second" class="bold">Stay Updated</p>
                </div>
            </div>
            <div class="row" style="gap: 50px;">
                <div class="col2" style="width: calc(90%/2);">
                    <div class="ing">
                        <img src="Practical-3/assets/Rectangle 19.png" alt="" height="300px">
                    </div>
                    <p id="tf-first" class="sm-font"
                        style="background-color: var(--white); border: 1px solid; text-align: center; color: var(--black);">
                        Web design</p>
                    <p class="md-font">Website Design For Digital Agency</p>
                    <p class="sm-font">Build a unique Website with Hilrex Template</p>
                    <p class="sm-font">Read more -></p>
                </div>


                <div class="col2" style="width: calc(90%/2);">
                    <div class="ing">
                        <img src="Practical-3/assets/Rectangle 20.png" alt="" height="300px">
                    </div>
                    <p id="tf-first" class="sm-font"
                        style="background-color: var(--white); border: 1px solid; text-align: center; color: var(--black);">
                        Web design</p>
                    <p class="md-font">Website Design For Digital Agency</p>
                    <p class="sm-font">Build a unique Website with Hilrex Template</p>
                    <p class="sm-font">Read more -></p>
                </div>
            </div>
        </div>
    </section>

    <section id="eight-page" style="background-color: var(--yellow);">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <p id="th-second" class="bold et-text" style="font-size: 25px;">Get Our Letest news & updates</p>
                    <p><input id="text" type="text" placeholder="NAME"></p>
                    <p><input id="text" type="text" placeholder="EMAIL"></p>
                    <p><input id="text" type="submit" value="SUBSCRIBE"><img
                            src="Practical-3/assets/arrow-right-black.png" alt="" style="margin-left: -2%;"></p>
                </div>
                <div class="col-2" style="line-height: 25px; margin: 8% auto; ">
                    <p class="sm-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure accusantium sint
                        dolorum quo? Vel iste voluptas, saepe cum</p>
                    <p class="sm-font et-btn">
                        Book a Call</p>

                </div>
            </div>
        </div>
    </section>


    <section id="second-page">
        <marquee>
            <div class="row" style="gap: 90px;">
                <div class="col">
                    <p id="first">THANK YOU FOR YOUR VISIT!</p>
                    <p><img src="Practical-3/assets/Line 4.png" alt="" style="margin-top:65%; margin-left: 100%;"></p>
                </div>
                <div class="col">
                    <p id="first">THANK YOU FOR YOUR VISIT!</p>
                    <p><img src="Practical-3/assets/Group 59.png" alt="" style="margin-top: 45%; margin-left:25%;"></p>
                </div>
                <div class="col">
                    <p id="first">THANK YOU FOR YOUR VISIT!</p>
                    <p><img src="Practical-3/assets/Line 4.png" alt="" style="margin-top:65%; margin-left: 100%;"></p>
                </div>

            </div>
        </marquee>
    </section>

    <section id="last" style="background-color: var(--site-bg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        <img src="Practical-3/assets/HireX_black.png" alt="">
                    </p>
                    <p style="border-bottom: 1px solid black; width: 1000px;">
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col-4">
                    <p class="sm-font">Products</p>
                    <p>Plat forms</p>
                    <p>Stroe Overvirew</p>
                    <p>Emailreports</p>
                    <p>Porfalio</p>
                </div>
                <div class="col-4">
                    <p class="sm-font">Resources</p>
                    <p>Plat forms</p>
                    <p>Stroe Overvirew</p>
                    <p>Emailreports</p>
                    <p>Blog</p>
                    <p>FAQ</p>
                </div>
                <div class="col-4">
                    <p class="sm-font">Company</p>
                    <p>Careers</p>
                    <p>Contact Sales</p>
                    <p>Contact Supoort</p>
                </div>
                <div class="col-4">
                    <p class="sm-font">Partners</p>
                    <p>Partner With Us</p>
                </div>
            </div>
            <div class="row" style="padding-top: 40px;">
                <div class="col-2">
                    <p class="sm-font">Tearms and conditions privacy policy</p>
                </div>
                <div class="col-2" style="display: flex; flex-direction: row-reverse;">
                    <p class="sm-font">HireX, inc. 2022</p>
                </div>
            </div>
        </div>
    </section>

    </div>
</body>

</html>